app/assets/javascripts/application.js linguist-vendored=false
public/assets/* linguist-vendored=false

app/assets/stylesheets/application.css linguist-vendored=false
public/assets/* linguist-vendored=false
