@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");

body {
  color: #34495e;
  font-family: 'Lato', sans-serif;
  line-height: 1.7 !important;
}

.home-section{
  font-size: 17px;
  @media only screen and (min-width: 768px) {
    margin: 0px 10px;
    padding: 0px 20px;
    table { width: 50% }
  }
  @media only screen and (max-width: 768px) {
    table { width: 90% }
  }
  ul{ 
    list-style: none; 
    .lang {
      display: inline;
      padding: 5px 10px;
      margin: -3px;
      border: 1px solid #5f5f5f;
      cursor: pointer;
    }
    .active {
      background-color: #5f5f5f;
      color: #fff;
      cursor: default;
    }
  }
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.highlighted{
  background-color: #5f5f5f;
  color: #FFF;
  padding: 2px;
}

a{
  color: #5f5f5f;
  font-style: italic;
}
a.active{
  text-decoration: none;
  color: #5f5f5f;
  font-style: italic;
}
a:hover{
  text-decoration: none;
  color: #5f5f5f;
  font-weight: 600;
}

tr.clickable-row, .clickable { cursor: pointer; }

.btn.btn-primary{
  background-color: #5f5f5f;
  border-color: #5f5f5f;
  :hover{
    background-color: #5f5f5f;
  }
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #5f5f5f;
  border-color: #5f5f5f;
}
.pagination>li>a, .pagination>li>span{
  color: #333;
}

.breadcrumb {
  margin-top: -15px;
  margin-bottom: 15px;
  padding: 0px;
  background: none;
  a { font-style: normal; }
}

.alert{
  border: 1px solid #F0F0F0;
  padding: 5px;
  background-color: #F0F0F0;
}

.muted{
  color: #999;
  cursor: not-allowed;
}

.header, .footer{
  min-height: 70px;
  background-color: #F0F0F0;
  @media only screen and (min-width: 768px) {
    padding: 15px 70px;
  }
  @media only screen and (max-width: 768px) {
    padding: 15px;
    .login-section { margin-top: -35px }
  }
  h2 { margin-top: 0px; }
}

// Layout
.container{
  border-left: 1px solid #F0F0F0;
  border-right: 1px solid #F0F0F0;
  
  .content{
    margin: 0px -15px 0px -15px;

    @media only screen and (min-width: 768px) {
      .right-content{
        float: right;
        width: 76%;
        padding: 25px;
        padding-bottom: 0px;
        border-left: 1px solid #F0F0F0;
        min-height: 500px;
      }
      .sidebar{
        float: left;
        width: 24%;
      }
    }
    @media only screen and (max-width: 768px) {
      .right-content{
        padding: 20px;
        min-height: 490px;
      }
    }
  }
}

// Sidebar
.sidebar{
  font-size: 16px;
  a { font-style: normal; }

  .list-group-item:first-child, .list-group-item:last-child{
    border-radius: 0;
  }

  .list-group-item:first-child{
    border-top: none;
  }

  .list-group-item{
    padding: 12px 20px;
    border-left: none;
    border-right: none;
  }

  .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #5f5f5f;
    border-color: #5f5f5f;
  }

  .menu-btn div {
    padding-right: 8px;
    margin-top: -50px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
  }
   
  .menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: #5f5f5f;
    z-index: 99;
  }
      
  .expand {
    display: block !important; 
  }
}

@media only screen and (min-width: 768px) {
  .responsive-menu { display: block; }
  .show-in-mobile { display: none; }
  .hide-in-mobile { display: block; }
}

@media only screen and (max-width: 767px) {
  .responsive-menu { display: none; }
  .show-in-mobile { display: block; }
  .hide-in-mobile { display: none; }
}

// Right content
.right-content{
  font-size: 17px;
  margin-bottom: -10px;

  .title-section{
    height: 20%;
  }
  .content-section{
    font-size: 17px;
    height: 69%;
    @media only screen and (min-width: 768px) {
      padding: 10px 90px;
    }
    .choice-section{
      margin-left: 50px;
      margin-top: 20px;
      span.choice-label{
        padding: 10px;
        font-weight: 100;
      }
    }
  }
  .pagination-section{
    // Pagination
    a { 
      font-style: normal; 
    }
    .pagination {
      margin: 85px -26px 0px;
    }
    .pagination>li:first-child>a, .pagination>li:first-child>span{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px
    }

    .pagination>li:last-child>a, .pagination>li:last-child>span{
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px
    }

    .pagination>li>a, .pagination>li>span{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      padding: 12px 22.07px;
    }
    
  }
}

