<div class="header">
  <div class="pull-left"><h2>தமிழ்</h2></div>
  
  <div class="pull-right">
    <% if current_user %>
      <i class=""> </i>
      <div class="_tooltip" data-placement="bottom" data-original-title="<%= t("question") %>"><%= current_user.name %></div>
    <% else %>
      <%= link_to " ", user_omniauth_authorize_path(:google_oauth2), :class => "fa fa-power-off" %>
    <% end %>
  </div>
</div>